header {
  background-color: darkgray;
  text-align: center;
}

body {
  background-color: lightgrey;
}

.place {
  background-color: lightsteelblue;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 200px;
  margin-left: 200px;
}
