header {
  background-color: #181818;
  color: aliceblue;
}

body {
  background-color: lightgrey;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
}

.place {
  background-color: lightsteelblue;
}
